* {
    padding: 0;
    margin: 0;
    transition: all .3s;
}

:root {
    --black: #000;
    --black_opacity_50: rgba(0, 0, 0, 0.694);
    --white: #fff;
    --blue: #007bff;
    --gray1: #4a4a4a;
    --gray2: #b9b9b9;
    --gray3: #efefef;
    --green: #28A745;
    scroll-behavior: smooth;
}

@keyframes hero-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);


    }

}

@keyframes nav-animation {

    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

body {
    background: var(--gray3);

    font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
    display: none;


}

.container {
    margin: auto;
    width: 80%;
}


.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.t-align-end {
    width: 90%;
    margin: 10px auto;
    text-align: end;

    a {
        color: var(--gray1);
        font-size: 1.1rem;
    }
}

.h-fit {
    height: fit-content;

}

.d-none {
    display: none;
}

.horizontal-line {
    width: 200px;
    margin: 30px auto;
    height: 2px;
    background: var(--gray2);
}

/* .container {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;
}
 */

header {
    width: 100%;
    height: 80px;
    background: var(--white);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    place-items: center;
    margin: 10px 0;
    border-radius: 0 0 10px;
    animation: header-animation 1s;

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

        ul {
            margin: 0 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;

            .logo {
                width: 150px;
                border-right: solid 1px var(--gray1);
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                img {
                    width: 30px;
                    height: 30px;

                }

                a {
                    font-size: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: var(--black);
                }
            }


            li {
                list-style: none;
                display: flex;
                align-items: center;

                a {
                    color: var(--gray1);
                    text-decoration: none;
                    font-size: 1.4rem;

                    &:hover {
                        color: #00a2ff;
                    }
                }


            }

        }


    }

    .btn {
        display: none;
        text-align: center;
        background: transparent;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin: 0 10px;
        padding: 10px;

        &:hover {
            background: var(--gray3);
            color: var(--white_opacity_50);
        }

        i {
            color: var(--black);
            font-size: 1.5rem;
        }
    }
}

.details-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);




    p {
        flex: 1 300px;
    }

}



main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    gap: 20px;

    .title {
        text-align: start;
        margin: 0 10px;
        font-size: 2rem;
        color: var(--black);
    }


    .hero {
        width: 100%;
        background: linear-gradient(#00000071, #00000071), url('../images/party-image.jpeg') center/cover no-repeat;
        background-attachment: fixed;

        display: flex;
        color: var(--white);
        border-radius: 10px;
        flex-wrap: wrap;





        .hero-text {

            flex: 1 350px;
            /* padding: 50px 10px; */
            padding: 15px 10px;
            height: 300px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: end;
            overflow: hidden;

            h1 {
                animation: hero-animation 1s;
                font-size: 2.2rem;
                text-align: center;
                white-space: nowrap;
                color: var(--white);
                text-transform: uppercase;
                text-shadow: 0px 3px 0px rgb(127, 134, 134);
            }

            p {
                animation: hero-animation 2s;
                font-size: 1.2rem;
                text-align: center;
                color: var(--white);
            }

            a {
                max-width: 200px;
                margin: 20px auto;
                text-decoration: none;
                color: var(--blue);
                font-size: 1.5rem;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                text-align: center;

                &:hover {
                    background-color: var(--blue);
                    color: var(--white);
                }
            }


            &:nth-child(2) {
                background: var(--black_opacity_50);
            }

        }


    }



    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        width: 100%;

    }

    .card {

        flex: 1 300px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        text-align: start;
        overflow: hidden;


    }

    .artist {
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .event-organize {
        display: flex;
        background: var(--white);
        border-radius: 10px;
        flex-direction: column;
        padding: 15px 0;
        gap: 0;

        section {
            background: transparent;
            flex: 1;
            box-shadow: 0 0 0;




        }

        P {
            overflow: hidden;
            height: fit-content;
            font-size: 1rem;
            color: #919191;
            margin: 0 0 20px;
            padding: 5px;

        }



    }



    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }



    .card-content {
        padding: 10px;
        overflow: hidden;

        .card-title {
            font-size: 1.5em;
            margin: 0 0 10px;
            white-space: nowrap;
            color: #353535;

        }

        .card-description {
            overflow: hidden;
            height: 150px;
            font-size: 1rem;
            color: #919191;
            margin: 0 0 20px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            gap: 5px;
            width: 100%;


            li {
                flex: 1 200px;
                list-style: none;
                border-radius: 5px;

                a {
                    text-transform: capitalize;
                    white-space: nowrap;
                    background: #dddddd49;
                    color: #292929;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    border-radius: 5px;
                    color: #353535;
                    text-decoration: none;
                    transition: color 0.3s;

                    &:hover {
                        text-decoration: underline;
                        background: #dbdbdb;
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }


            }
        }







    }

    .card-title-sub {
        font-size: 1.2em;
        margin: 5px 0;
        color: #4e4e4e;
        text-align: start;

    }

    .card-lists {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .card-list {
            /* background: white; */
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 250px;
            text-align: center;
            cursor: pointer;
            text-decoration: none;

            h3 {
                font-size: 1.4em;
                margin: 0 0 10px;
                color: var(--gray1);
            }

            p {
                margin: 0;
                font-size: 1rem;
                color: #777;
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 10px;
            }

            &:hover {
                box-shadow: 0 0 5px var(--gray2);

                h3 {
                    text-decoration: underline;
                }

            }
        }

        .card img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        .card h3 {
            margin: 10px 0 5px;
            font-size: 18px;
            color: #333;
        }

        .card p {
            margin: 0;
            font-size: 14px;
            color: #777;
        }


    }
}

.show {
    display: flex;
}

@media (max-width:900px) {
    .container {
        width: 90%;
    }

}

@media (max-width:700px) {
    .container {
        width: 97%;

        header {
            .nav-list {
                display: flex;
            }
        }


        .hero {
            .hero-text {

                flex: 1 350px;
                /* padding: 50px 10px; */
                padding: 15px 10px;
                height: 260px;
            }
        }


    }

}

@media (max-width:500px) {
    .container {
        width: 98%;


        .btn {
            display: block;
        }

        header {
            position: relative;
            height: 60px;
            top: 0;


            .nav-list {
                display: none;
                flex-direction: column;
                background: white;
                position: fixed;
                width: 100%;
                height: fit-content;
                top: 0;
                left: 0;
                margin: 0;
                gap: 2px;
                animation: nav-animation .4s;

                li {
                    width: 100%;
                    text-align: center;

                    a {
                        padding: 10px 0;
                        width: 100%;
                        height: 100%;

                        &:hover {
                            color: #000;
                            background: var(--gray3);
                        }

                    }
                }
            }

            .logo {
                display: flex;
            }
        }


    }





}


footer {
    background: linear-gradient(to right, #ffffff, #ffffff9a), url('../images/party-image.jpeg') center/cover no-repeat;
    background-attachment: fixed;
    color: var(--gray1);
    padding: 20px 0;
    margin: 20px 0 0 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1 1 300px;
    margin: 10px;

    ul {
        display: flex;
        gap: 10px;
        list-style: none;
        flex-direction: column;
    }
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: var(--black);
}

.footer-section p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
}

.footer-section a {
    color: var(--gray1);
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.8rem;
}
